RecipeBankWebServices/WebContent/wsdl/ShoppingList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webServices.rb.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webServices.rb.com" xmlns:intf="http://webServices.rb.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webServices.rb.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="deleteIngredientFromShoppingList">
    <complexType>
     <sequence>
      <element name="ingredientsArray" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteIngredientFromShoppingListResponse">
    <complexType>
     <sequence>
      <element name="deleteIngredientFromShoppingListReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewShoppingList">
    <complexType>
     <sequence>
      <element name="accountId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewShoppingListResponse">
    <complexType>
     <sequence>
      <element name="viewShoppingListReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeShoppingListState">
    <complexType>
     <sequence>
      <element name="shoppingIngredientsId" type="xsd:int"/>
      <element name="state" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeShoppingListStateResponse">
    <complexType>
     <sequence>
      <element name="changeShoppingListStateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addIngredientIntoShoppingList">
    <complexType>
     <sequence>
      <element name="ingredientObject" type="xsd:string"/>
      <element name="accountId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addIngredientIntoShoppingListResponse">
    <complexType>
     <sequence>
      <element name="addIngredientIntoShoppingListReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addIngredientIntoShoppingListResponse">

      <wsdl:part element="impl:addIngredientIntoShoppingListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addIngredientIntoShoppingListRequest">

      <wsdl:part element="impl:addIngredientIntoShoppingList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewShoppingListRequest">

      <wsdl:part element="impl:viewShoppingList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteIngredientFromShoppingListRequest">

      <wsdl:part element="impl:deleteIngredientFromShoppingList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeShoppingListStateResponse">

      <wsdl:part element="impl:changeShoppingListStateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewShoppingListResponse">

      <wsdl:part element="impl:viewShoppingListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteIngredientFromShoppingListResponse">

      <wsdl:part element="impl:deleteIngredientFromShoppingListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeShoppingListStateRequest">

      <wsdl:part element="impl:changeShoppingListState" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ShoppingList">

      <wsdl:operation name="deleteIngredientFromShoppingList">

         <wsdl:input message="impl:deleteIngredientFromShoppingListRequest" name="deleteIngredientFromShoppingListRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteIngredientFromShoppingListResponse" name="deleteIngredientFromShoppingListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewShoppingList">

         <wsdl:input message="impl:viewShoppingListRequest" name="viewShoppingListRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewShoppingListResponse" name="viewShoppingListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changeShoppingListState">

         <wsdl:input message="impl:changeShoppingListStateRequest" name="changeShoppingListStateRequest">

       </wsdl:input>

         <wsdl:output message="impl:changeShoppingListStateResponse" name="changeShoppingListStateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addIngredientIntoShoppingList">

         <wsdl:input message="impl:addIngredientIntoShoppingListRequest" name="addIngredientIntoShoppingListRequest">

       </wsdl:input>

         <wsdl:output message="impl:addIngredientIntoShoppingListResponse" name="addIngredientIntoShoppingListResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ShoppingListSoapBinding" type="impl:ShoppingList">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deleteIngredientFromShoppingList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteIngredientFromShoppingListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteIngredientFromShoppingListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewShoppingList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewShoppingListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewShoppingListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changeShoppingListState">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeShoppingListStateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeShoppingListStateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addIngredientIntoShoppingList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addIngredientIntoShoppingListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addIngredientIntoShoppingListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ShoppingListService">

      <wsdl:port binding="impl:ShoppingListSoapBinding" name="ShoppingList">

         <wsdlsoap:address location="http://localhost:8088/RecipeBankWebServices/services/ShoppingList"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
